<body style="text-align:center; margin-top: 5px;">


<table style="text-align:center; margin-top: 5px;">
  <tr>
    <td>
      <h1 style="text-align:center; margin-top: 5px;">We Are GAlums</h1>
     <br />
        <img alt="civly" src="http://uploadist.com/GA.png">
        <br />

  

      <br />

  </tr>
</table> 
  
<br />
<hr />




    <!-- Footer
    ================================================== -->

<!-- <div id="page1" class="container">
    <h2>
    <a padding="15px;" href="/users/1">Houston Golden</a>'s Civly Activism:
   
  </h2>
    <div class="row-fluid">
      <div class="span4">
        <a href="http://houstongolden.com" target="_blank"><img class="marketing-img" src="http://cloud-media.com/wp-content/uploads/2013/08/Houston-Golden-Skylab-2013-300x300.jpg"></a>
   <a href="http://houstongolden.com"><h2>HOUSTON GOLDEN </h2></a>
<h4>FOUNDER & CEO</h4>
<p>24 year-old web developer, musician, producer, programmer, writer, coder, surfer, digital media entrepreneur, and dreamer, I am always learning how to create new things. <a href="mailto:houstongolden@gmail.com">Email me</a>.</p>
        
      </div>
      <div class="span4">
        <a href="http://civly.com" target="_blank"><img class="marketing-img" src="http://uploadist.com/GA.png"></a>
    <a href="http://civly.com" target="_blank"><h4>Civly.com</h4></a>   
<p>GAlums.com is an online platform for the General Assembly alumni network to keep in touch and showcase their current work, code, and designs.</p>

      </div>
      <div class="span4">
        <a href="http://cloud-media.com"><img class="marketing-img" src="http://cloud-media.com/wp-content/uploads/2013/10/CloudMedia-facebook-white-square-beta5-logo1.png" target="_blank"></a>
    <a href="http://cloud-media.com" target="_blank"><h4>CloudMedia</h4></a>
        <p>Built by <a href="http://cloud-media.com/">CloudMedia</a> &  Designed by <a href="http://twitter.com/houstongolden">@houstongolden</a> using <a href="rubyonrails.org">Ruby on Rails</a> and <a href="http://getbootstrap.com">Twitter Bootstrap</a> and is managed through <a href="http://github.com/houstongolden/civly/">GitHub</a> to help nerds do awesome stuff on the web.</p>

        </a></p>
      </div>
    </div>
   </div>
 -->
<hr />

<div class="jumbotron masthead" style="text-align:center; margin-top: 5px;">
  <div class="container">
       <a href="https://github.com/houstongolden/GAlums" target="_blank"><h1>Contribute to the GAlums code. We Are Open Source.</h1></a>
    <ul class="masthead-links">
      <li>
        <a href="https://github.com/houstongolden/GAlums" onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Jumbotron links', 'GitHub project']);" target="_blank">GitHub project</a>
      </li>
      <li>
        Version 0.0.2 (beta)
      </li>
    </ul>
  </div>
</div>

<div class="bs-docs-social">
  <div class="container">
    <ul class="bs-docs-social-buttons">
      <li>
        <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=houstongolden&repo=GAlums&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
      </li>
      <li>
        <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=houstongolden&repo=GAlums&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="102px" height="20px"></iframe>
      </li>
    </ul>
  </div>
</div>

</body>

<!--  # closing div -->



