<br />

              <div class="center">
                <img class="center" alt="GAlums" src="http://uploadist.com/GA.png">
              </div>

<br />
<br />

<hr />

<div style="text-align:center; margin-top: 5px; color: #E3E3E3;">
    <ul style="list-style-type: none;">
      <li>
        <a href="https://github.com/houstongolden/GAlums" onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Jumbotron links', 'GitHub project']);" target="_blank">GitHub project</a>
     </li>
     <li>
        Version 0.0.1 (beta)
      </li>
    </ul>
</div>



    <ul style="list-style-type: none;">
      <li>
        <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=houstongolden&repo=GAlums&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
      </li>
      <li>
        <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=houstongolden&repo=GAlums&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="102px" height="20px"></iframe>
      </li>
    </ul>




