<h2>Hello World</h2>
<p>
  The time is now: <%= Time.now %>
</p>


<table>
  <tr>
    <td>
      <h1 style="text-align:center; margin-top: 5px;">We Are GAlums</h1>
     <br />
        <img alt="civly" src="http://uploadist.com/GA.png">
        <br />

  

      <br />

  </tr>
</table> 
  
<br />
<hr />




    <!-- Footer
    ================================================== -->

<div id="page1" class="container">
    <h2>
    <a padding="15px;" href="/users/1">Houston Golden</a>'s Civly Activism:
   
  </h2>
    <div class="row-fluid">
      <div class="span4">
        <a href="http://houstongolden.com" target="_blank"><img class="marketing-img" src="http://cloud-media.com/wp-content/uploads/2013/08/Houston-Golden-Skylab-2013-300x300.jpg"></a>
   <a href="http://houstongolden.com"><h2>HOUSTON GOLDEN </h2></a>
<h4>FOUNDER & CEO</h4>
<p>24 year-old web developer, musician, producer, programmer, writer, coder, surfer, digital media entrepreneur, and dreamer, I am always learning how to create new things. <a href="mailto:houstongolden@gmail.com">Email me</a>.</p>
        
      </div>
      <div class="span4">
        <a href="http://civly.com" target="_blank"><img class="marketing-img" src="http://cloud-media.com/wp-content/uploads/2013/10/civly-beta-logo-white-square-2013-2.png"></a>
    <a href="http://civly.com" target="_blank"><h4>Civly.com</h4></a>   
<p>Civly is a civic activism platform empowering local heroes by connecting them with people they can help.</p>

      </div>
      <div class="span4">
        <a href="http://cloud-media.com"><img class="marketing-img" src="http://cloud-media.com/wp-content/uploads/2013/10/CloudMedia-facebook-white-square-beta5-logo1.png" target="_blank"></a>
    <a href="http://cloud-media.com" target="_blank"><h4>CloudMedia</h4></a>
        <p>Built by <a href="http://cloud-media.com/">CloudMedia</a> &  Designed by <a href="http://twitter.com/houstongolden">@houstongolden</a> using <a href="rubyonrails.org">Ruby on Rails</a> and <a href="http://getbootstrap.com">Twitter Bootstrap</a> and is managed through <a href="http://github.com/houstongolden/civly/">GitHub</a> to help nerds do awesome stuff on the web.</p>

        </a></p>
      </div>
    </div>
   </div>

<hr />

<div class="jumbotron masthead">
  <div class="container">
       <a href="https://github.com/houstongolden/civly" target="_blank"><h1>Civly hactivism</h1></a>
    <p>Civly is an open source platform powering civic activism by enabling heroes.</p>
    <ul class="masthead-links">
      <li>
        <a href="https://github.com/houstongolden/civly" onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Jumbotron links', 'GitHub project']);" target="_blank">GitHub project</a>
      </li>
      <li>
        Version 0.0.2 (beta)
      </li>
    </ul>
  </div>
</div>

<div class="bs-docs-social">
  <div class="container">
    <ul class="bs-docs-social-buttons">
      <li>
        <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=houstongolden&repo=civly&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
      </li>
      <li>
        <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=houstongolden&repo=civly&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="102px" height="20px"></iframe>
      </li>
    </ul>
  </div>
</div>



