
.center div {
	display: block;

}

.center img {
    display: block;
    margin: 0 auto;
    width: 300px;
}

iframe.github-btn {
	display: block;
    margin: 0 auto;
}

h1 {
	text-align: center;
    font-family: Impact; 
    color: white;
}

