<footer class="footer">
  <div class="center">
    <hr />
    <div style="text-align: center;">
      Made <a href="http://twitter.com/ga_la" target="_blank">@GA_LA</a> in <a href="http://en.wikipedia.org/wiki/Santa_Monica" target="_blank">Santa Monica, CA</a></div>
  </div>
</footer>

