<footer class="footer">
      <div class="container">
          <hr class="soften">
        <p>Designed and built with all the love in the world by <a href="http://twitter.com/GA_LA" target="_blank">@GA_LA</a></p>
      </div>
  <div class="container secondary">
    <br /><hr />
    <ul style="list-style-type: none;">
      <li>Made in <a href="http://en.wikipedia.org/wiki/Santa_Monica">Santa Monica, CA</a></li>
      <li>&copy; 2013</li>
    </ul>
  </div>
</footer>

